USE [master]
GO
/****** Object:  Database [HotelDB]    Script Date: 9/29/2026 8:15:46 AM ******/
CREATE DATABASE [HotelDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HotelDB', FILENAME = N'D:\SQL\MSSQL17.MSSQLSERVER\MSSQL\DATA\HotelDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'HotelDB_log', FILENAME = N'D:\SQL\MSSQL17.MSSQLSERVER\MSSQL\DATA\HotelDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HotelDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HotelDB]
GO
/****** Object:  Table [dbo].[Booking]    Script Date: 9/29/2026 8:15:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Booking](
	[BookingID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [int] NULL,
	[RoomNumber] [int] NULL,
	[CheckInDate] [date] NOT NULL,
	[CheckOutDate] [date] NOT NULL,
	[TotalPrice] [decimal](10, 2) NULL,
	[BookingStatus] [nvarchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[BookingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 9/29/2026 8:15:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[CustomerID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NULL,
	[LastName] [nvarchar](50) NULL,
	[Email] [nvarchar](100) NULL,
	[Phone] [nvarchar](20) NULL,
	[UserID] [int] NULL,
	[Country] [nvarchar](50) NULL,
	[Street] [nvarchar](100) NULL,
	[City] [nvarchar](50) NULL,
	[Avatar] [nvarchar](255) NULL,
	[AccountStatus] [nvarchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Discount]    Script Date: 9/29/2026 8:15:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Discount](
	[DiscountID] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](50) NULL,
	[Quantity] [int] NULL,
	[SaleOff] [decimal](5, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[DiscountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payment]    Script Date: 9/29/2026 8:15:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payment](
	[PaymentID] [int] IDENTITY(1,1) NOT NULL,
	[BookingID] [int] NULL,
	[PaymentDate] [date] NULL,
	[PaymentAmount] [decimal](10, 2) NULL,
	[PaymentMethod] [nvarchar](30) NULL,
	[PaymentStatus] [nvarchar](30) NULL,
	[DiscountID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[PaymentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Review]    Script Date: 9/29/2026 8:15:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Review](
	[ReviewID] [int] IDENTITY(1,1) NOT NULL,
	[BookingID] [int] NULL,
	[Comment] [nvarchar](255) NULL,
	[Star] [decimal](2, 1) NULL,
	[IsValid] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ReviewID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Room]    Script Date: 9/29/2026 8:15:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Room](
	[RoomNumber] [int] IDENTITY(100,1) NOT NULL,
	[RoomTypeID] [int] NULL,
	[Status] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[RoomNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RoomType]    Script Date: 9/29/2026 8:15:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoomType](
	[RoomTypeID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Description] [nvarchar](200) NULL,
	[PricePerNight] [decimal](10, 2) NULL,
	[Beds] [int] NULL,
	[Capacity] [int] NULL,
	[Picture] [nvarchar](255) NULL,
	[Amenities] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[RoomTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 9/29/2026 8:15:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](255) NOT NULL,
	[Role] [nvarchar](30) NULL,
	[DisplayName] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Booking] ON 

INSERT [dbo].[Booking] ([BookingID], [CustomerID], [RoomNumber], [CheckInDate], [CheckOutDate], [TotalPrice], [BookingStatus]) VALUES (1, 10, 100, CAST(N'2025-07-08' AS Date), CAST(N'2025-07-09' AS Date), CAST(500000.00 AS Decimal(10, 2)), NULL)
INSERT [dbo].[Booking] ([BookingID], [CustomerID], [RoomNumber], [CheckInDate], [CheckOutDate], [TotalPrice], [BookingStatus]) VALUES (2, 12, 101, CAST(N'2025-07-08' AS Date), CAST(N'2025-07-10' AS Date), CAST(1600000.00 AS Decimal(10, 2)), NULL)
INSERT [dbo].[Booking] ([BookingID], [CustomerID], [RoomNumber], [CheckInDate], [CheckOutDate], [TotalPrice], [BookingStatus]) VALUES (3, 15, 102, CAST(N'2025-07-07' AS Date), CAST(N'2025-07-09' AS Date), CAST(1000000.00 AS Decimal(10, 2)), NULL)
SET IDENTITY_INSERT [dbo].[Booking] OFF
GO
SET IDENTITY_INSERT [dbo].[Customer] ON 

INSERT [dbo].[Customer] ([CustomerID], [FirstName], [LastName], [Email], [Phone], [UserID], [Country], [Street], [City], [Avatar], [AccountStatus]) VALUES (10, N'Vu', N'Dang Hoang', N'vu@gmail.com', N'0123456789', 9, N'Vietnam', N'a', N'Can Tho', N'avatar/a-spring-afternoon-4k-v6-1920x1080.jpg', NULL)
INSERT [dbo].[Customer] ([CustomerID], [FirstName], [LastName], [Email], [Phone], [UserID], [Country], [Street], [City], [Avatar], [AccountStatus]) VALUES (12, N'Nguyen', N'Tran', N'np1552005@gmail.com', N'0364933038', 10, N'Trung Quoc', N'Phong Dien', N'Hau Giang', NULL, NULL)
INSERT [dbo].[Customer] ([CustomerID], [FirstName], [LastName], [Email], [Phone], [UserID], [Country], [Street], [City], [Avatar], [AccountStatus]) VALUES (15, N'Khang', N'Diep Vy', N'np123@gmail.com', NULL, 11, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Customer] OFF
GO
SET IDENTITY_INSERT [dbo].[Discount] ON 

INSERT [dbo].[Discount] ([DiscountID], [Code], [Quantity], [SaleOff]) VALUES (1, N'giam10', 9, CAST(10.00 AS Decimal(5, 2)))
INSERT [dbo].[Discount] ([DiscountID], [Code], [Quantity], [SaleOff]) VALUES (2, N'giam15', 50, CAST(15.00 AS Decimal(5, 2)))
INSERT [dbo].[Discount] ([DiscountID], [Code], [Quantity], [SaleOff]) VALUES (3, N'giam20', 30, CAST(20.00 AS Decimal(5, 2)))
SET IDENTITY_INSERT [dbo].[Discount] OFF
GO
SET IDENTITY_INSERT [dbo].[Payment] ON 

INSERT [dbo].[Payment] ([PaymentID], [BookingID], [PaymentDate], [PaymentAmount], [PaymentMethod], [PaymentStatus], [DiscountID]) VALUES (1, 1, CAST(N'2025-07-09' AS Date), NULL, NULL, NULL, NULL)
INSERT [dbo].[Payment] ([PaymentID], [BookingID], [PaymentDate], [PaymentAmount], [PaymentMethod], [PaymentStatus], [DiscountID]) VALUES (2, 2, CAST(N'2025-07-10' AS Date), NULL, NULL, NULL, NULL)
INSERT [dbo].[Payment] ([PaymentID], [BookingID], [PaymentDate], [PaymentAmount], [PaymentMethod], [PaymentStatus], [DiscountID]) VALUES (3, 3, CAST(N'2025-07-10' AS Date), NULL, NULL, NULL, 7)
SET IDENTITY_INSERT [dbo].[Payment] OFF
GO
SET IDENTITY_INSERT [dbo].[Review] ON 

INSERT [dbo].[Review] ([ReviewID], [BookingID], [Comment], [Star], [IsValid]) VALUES (1, 3, N'Very good experience, clean room!', CAST(5.0 AS Decimal(2, 1)), NULL)
INSERT [dbo].[Review] ([ReviewID], [BookingID], [Comment], [Star], [IsValid]) VALUES (2, 4, N'Room was fine but a bit noisy.', CAST(4.5 AS Decimal(2, 1)), NULL)
SET IDENTITY_INSERT [dbo].[Review] OFF
GO
SET IDENTITY_INSERT [dbo].[Room] ON 

INSERT [dbo].[Room] ([RoomNumber], [RoomTypeID], [Status]) VALUES (100, 1, N'available')
INSERT [dbo].[Room] ([RoomNumber], [RoomTypeID], [Status]) VALUES (101, 2, N'booked')
INSERT [dbo].[Room] ([RoomNumber], [RoomTypeID], [Status]) VALUES (102, 3, N'available')
SET IDENTITY_INSERT [dbo].[Room] OFF
GO
SET IDENTITY_INSERT [dbo].[RoomType] ON 

INSERT [dbo].[RoomType] ([RoomTypeID], [Name], [Description], [PricePerNight], [Beds], [Capacity], [Picture], [Amenities]) VALUES (1, N'Standard Room', N'A comfortable and affordable room ideal for solo travelers.', CAST(59.00 AS Decimal(10, 2)), 1, 2, N'roomType/standard-room.jpg', NULL)
INSERT [dbo].[RoomType] ([RoomTypeID], [Name], [Description], [PricePerNight], [Beds], [Capacity], [Picture], [Amenities]) VALUES (2, N'Junior Suite', N'A stylish and spacious suite ideal for couples.', CAST(89.00 AS Decimal(10, 2)), 1, 2, N'roomType/junior-1.jpg', NULL)
INSERT [dbo].[RoomType] ([RoomTypeID], [Name], [Description], [PricePerNight], [Beds], [Capacity], [Picture], [Amenities]) VALUES (3, N'Family Suite', N'A spacious and fully equipped suite perfect for families.', CAST(129.00 AS Decimal(10, 2)), 2, 6, N'roomType/family-suite-1.jpg', NULL)
SET IDENTITY_INSERT [dbo].[RoomType] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([UserID], [Username], [Password], [Role], [DisplayName]) VALUES (9, N'vu', N'e10adc3949ba59abbe56e057f20f883e', N'customer', N'Vu')
INSERT [dbo].[User] ([UserID], [Username], [Password], [Role], [DisplayName]) VALUES (10, N'np', N'e10adc3949ba59abbe56e057f20f883e', N'customer', N'Nguyen')
INSERT [dbo].[User] ([UserID], [Username], [Password], [Role], [DisplayName]) VALUES (11, N'khang1', N'e10adc3949ba59abbe56e057f20f883e', N'customer', N'Khang')
SET IDENTITY_INSERT [dbo].[User] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__User__536C85E404371723]    Script Date: 9/29/2026 8:15:46 AM ******/
ALTER TABLE [dbo].[User] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Booking]  WITH CHECK ADD FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customer] ([CustomerID])
GO
ALTER TABLE [dbo].[Booking]  WITH CHECK ADD FOREIGN KEY([RoomNumber])
REFERENCES [dbo].[Room] ([RoomNumber])
GO
ALTER TABLE [dbo].[Customer]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD FOREIGN KEY([BookingID])
REFERENCES [dbo].[Booking] ([BookingID])
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD FOREIGN KEY([DiscountID])
REFERENCES [dbo].[Discount] ([DiscountID])
GO
ALTER TABLE [dbo].[Review]  WITH CHECK ADD FOREIGN KEY([BookingID])
REFERENCES [dbo].[Booking] ([BookingID])
GO
ALTER TABLE [dbo].[Room]  WITH CHECK ADD FOREIGN KEY([RoomTypeID])
REFERENCES [dbo].[RoomType] ([RoomTypeID])
GO
ALTER TABLE [dbo].[Review]  WITH CHECK ADD CHECK  (([Star]>=(1) AND [Star]<=(5)))
GO
ALTER TABLE [dbo].[Room]  WITH CHECK ADD CHECK  (([Status]='maintenance' OR [Status]='booked' OR [Status]='available'))
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD CHECK  (([Role]='system_admin' OR [Role]='manager' OR [Role]='admin' OR [Role]='staff' OR [Role]='customer'))
GO
USE [master]
GO
